body {
	margin: 5%;
	text-align:center;
	font-family: "Open Sans", "HelveticaNeue", "Helvetica eue", Helvetica, Arial, sans-serif;
	background-color: #F2F2F2;
	color: rgb(50, 50, 50);
	font-weight: 400;
	font-size: 1.5em;
	line-height: 1.6;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	grid-gap: 1rem;
}



